<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/adminpanel.css" />
</head>
<body>
	<div class=".content">
		@RenderBody()
	</div>
</body>
</html>