<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/adminpanel.css" />
</head>
<body>
	@if(User.IsInRole(Consts.AdminRoleName))
	{
	<div class="header">
		<a href="/AdminPanel/SiteAbout">Site About</a>
		<a href="/AdminPanel/EmailSettings">Email settings</a>

		<a href="/AdminPanel/Logout" class="signOutButton">Sign Out</a>
	</div>

		<h2>@ViewData["Title"]</h2>
	}

	<div class="content">
		@RenderBody()
	</div>
</body>
</html>