<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/adminpanel.css" />
</head>
<body>
	@if(User.IsInRole(Consts.AdminRoleName))
	{
		<div class="header">
			<a href="/AdminPanel/Logout" class="signOutButton">Sign Out</a>
		</div>
	}

	<div class="content">
		@RenderBody()
	</div>
</body>
</html>