@{
	ViewData["Title"] = "View, add, change and remove categories";
	Layout = "~/Views/AdminPanel/_Layout.cshtml";
}
@model IEnumerable<ShopEngine.Models.CategoryModel>


<div class="bordered leftList">
	<br /><strong style="margin: 5px 5px;">List of categories:</strong>
	<button style="display: block; margin: 5px auto;" onclick="addCategory(event)">Add category</button>
	<div class="bordered" id="listItemsParent"></div>
</div>
<div class="selectedItemContent selectedItemForm">
	<br />
	<strong id="selectedCategoryHeader">HEADER_UNDEFINED_CONTENT</strong> <br /><br />
	<label for="selectedCategoryName">Name: </label><input type="text" required="required" max="60" id="selectedCategoryName" /><br /><br />
	<label for="selectedCategoryDescription">Description: </label><textarea required="required" maxlength="250" id="selectedCategoryDescription"></textarea><br /><br />
	<label for="selectedCategorySubcatGuid">Subcategory: </label><div id="selectedCategorySubcategoryContainter"></div><br /><br />

	<label for="selectedCategoryGuid">GUID: </label><input type="text" id="selectedCategoryGuid" readonly="readonly" /><br /><br />

	<br />
	<button style="display: none;" id="selectedCategoryAdd">UNDEFINED_ACTION_1</button> <button style="display: none;" id="selectedCategoryRemove">UNDEFINED_ACTION_2</button>
</div>

<script src="~/js/CategoriesList.js"></script>
<script src="~/js/categoriesAdminPanel.js"></script>

<script>
	setWaitingSelectedContent(textDefault, true);

	@foreach (var category in Model)
	{
		<text>
			addCategoryToList('@category.Id', '@category.SubCategoryGuid', '@category.Name', '@category.Description');
		</text>
	}
	renderCategoryList();
</script>