@{
	ViewData["Title"] = "Edit email settings, which use to send notifications to users";
}
@model EmailSettingsModel

<div class="centerForm bordered">
	<form method="post" asp-action="EmailSettings" asp-controller="AdminPanel">
		<div asp-validation-summary="ModelOnly"></div>
		<input type="hidden" asp-for="Id" />
		<div>
			<label asp-for="SenderName">Sender name:</label><input asp-for="SenderName" /><br />
			<span asp-validation-for="SenderName"></span>
		</div>
		<div>
			<label asp-for="EmailAddress">Email address:</label><input asp-for="EmailAddress" /><br />
			<span asp-validation-for="EmailAddress"></span>
		</div>
		<div>
			<label asp-for="SmtpHost">Smtp host:</label><input asp-for="SmtpHost" /><br />
			<span asp-validation-for="SmtpHost"></span>
		</div>
		<div>
			<label asp-for="SmtpPort">Smtp port:</label><input asp-for="SmtpPort" /><br />
			<span asp-validation-for="SmtpPort"></span>
		</div>
		<div>
			<label asp-for="Password">Password:</label><input asp-for="Password" autocomplete="off"/><br />
			<span asp-validation-for="Password"></span>
		</div>
		<div>
			<input type="submit" value="Save" />
		</div>
	</form>
</div>