@{
	ViewData["Title"] = "Orders View/Add/Delete";
	Layout = "~/Views/AdminPanel/_Layout.cshtml";
}
<div class="leftList bordered">
	<br /><strong style="margin: 5px 5px;">List of orders:</strong>
	<table class="ordersListSearchForm">
		<tr>
			<td>
				<input type="text" id="orderSearchInput" placeholder="Enter the number, guid or customer code\email" />
			</td>
			<td class="searchButtonContainer" id="clearOrdersSearchResultsButtonContainer">
				<button id="clearOrdersSearchResultsButton">Clear</button>
			</td>
			<td class="searchButtonContainer">
				<button id="ordersSearchButton">Search</button>
			</td>
		</tr>
	</table>
	<div class="bordered" id="listItemsParent"></div>
	<div class="pagesNavigation"></div>
	<button style="display: block; margin: 5px auto;" onclick="addOrder(event)">Add order</button>
</div>

<div class="selectedItemContent selectedItemForm">
	<br />
	<div id="noSelectedContent">
		<strong>Please select the product</strong>
	</div>
	<div id="selectedItemContent">
		<strong id="selectedOrderHeader">HEADER_UNDEFINED_CONTENT</strong> <br /><br />
		<label for="selectedOrderGuid">GUID: </label><input type="text" id="selectedOrderGuid" readonly="readonly" /><br /><br />
		<label for="selectedOrdernNumber">Number: </label><input type="number" id="selectedOrdernNumber" required="required" /><br /><br />
		<label for="selectedOrderState">State: </label><select id="selectedOrderState"></select><br /><br />
		<!--TODO log of changes-->
		<label for="selectedOrderCustomerPhone">Customer phone: </label><input type="text" id="selectedOrderCustomerPhone" /><br /><br />
		<label for="selectedOrderCustomerEmail">Customer email: </label><input type="text" id="selectedOrderCustomerEmail" /><br /><br />
		<label for="selectedOrderProductsList">Products: </label><br />
		<select id="selectedOrderProductsList" multiple>
		</select><br />
		<button id="selectedOrderAddProduct" onclick="onAddProductClick()">Add product</button><button id="selectedOrderEditCount">Edit count</button><button id="selectedOrderEditPrice">Edit price</button><button id="selectedOrderRemoveProduct">Remove product</button>
	</div>
</div>

<script src="~/js/ProductModel.js"></script>
<script src="~/js/ProductsSearchableList.js"></script>
<script src="~/js/orders.js"></script>
<script>
	const idProductsList = "ordersSelectProductWindow";
	const idSelectedOrderState = "selectedOrderState";
	const idSelectedOrderProductsList = "selectedOrderProductsList";

	const productsSearchableList = new ProductsSearchableList();
	productsSearchableList.idProductsListParent = "ordersListItemsParent";
	productsSearchableList.classPagesNavigation = "ordersProductsPagesNavigation";

	loadCss();
	loadProductsPageAndFillList(1, true);

	function loadProductsPageAndFillList(page, fromCache) {
		productsSearchableList.setProductsListWaitingStatus(true);
		productsSearchableList.getProductsOnPage(page, fromCache)
			.then(content => {
				productsSearchableList.setProductsListWaitingStatus(false);
				productsSearchableList.initializeArrayAndPaginationFromJson(content, page => loadProductsPageAndFillList(page, true));
			})
			.catch(content => {
				productsSearchableList.setProductsListWaitingStatus(false);
				alert(content);
			});
	}

	function loadCss() {
		var head = document.getElementsByTagName("head")[0];
		var link = document.createElement("link");
		link.rel = "stylesheet";
		link.href = "/css/listOfProducts.css";

		head.appendChild(link);
	}

	function onAddProductClick() {
		setProductsListVisible(true);
	}

	function setProductsListVisible(visible = Boolean) {
		document.getElementById(idProductsList).style.display =
			visible ? 'block' : 'none';
	}

	function onProductsListButtonCloseClick() {
		setProductsListVisible(false);
	}
</script>

<!--TODO partial view-->
<div id="ordersSelectProductWindow">
	<table class="ordersProductsListSearchForm">
		<tr>
			<td>
				<input type="text" id="productSearchInput" placeholder="Enter the name, guid or vendor code" />
			</td>
			<td class="searchButtonContainer" id="clearSearchResultsButtonContainer">
				<button id="clearSearchResultsButton">Clear</button>
			</td>
			<td class="searchButtonContainer">
				<button id="productSearchButton">Search</button>
			</td>
		</tr>
	</table>
	<div class="bordered" id="ordersListItemsParent"></div>
	<div class="ordersProductsPagesNavigation"></div>
	<div class="ordersProductsControlButtons">
		<button>Add selected</button> <button onclick="onProductsListButtonCloseClick()">Close</button>
	</div>
</div>
