@{
	ViewData["Title"] = "Products View/Add/Delete";
	Layout = "~/Views/AdminPanel/_Layout.cshtml";
}
@model int


<div class="leftList bordered">
	@*TODO: partial view*@
	<br /><strong style="margin: 5px 5px;">List of products:</strong>
	<table class="productsListSearchForm">
		<tr>
			<td>
				<input type="text" id="productSearchInput" placeholder="Enter the name, guid or vendor code" />
			</td>
			<td class="searchButtonContainer" id="clearSearchResultsButtonContainer">
				<button id="clearSearchResultsButton">Clear</button>
			</td>
			<td class="searchButtonContainer">
				<button id="productSearchButton">Search</button>
			</td>
		</tr>
	</table>
	<div class="bordered" id="listItemsParent"></div>
	<div class="pagesNavigation"></div>
	<button style="display: block; margin: 5px auto;" onclick="addCategory(event)">Add product</button>
</div>
<div class="selectedItemContent selectedItemForm">
	<br />
	<div id="noSelectedContent">
		<strong>Please select the product</strong>
	</div>
	<div id="selectedItemContent">
		<strong id="selectedProductHeader">HEADER_UNDEFINED_CONTENT</strong> <br /><br />
		<label for="selectedProductGuid">GUID: </label><input type="text" id="selectedProductGuid" readonly="readonly" /><br /><br />
		<label for="selectedProductName">Name: </label><input type="text" required="required" max="60" id="selectedProductName" /><br /><br />
		<label for="selectedProductDescription">Description: </label><textarea required="required" maxlength="250" id="selectedProductDescription"></textarea><br /><br />
		<label for="selectedProductCategoryGuid">Category guid: </label><input type="text" id="selectedProductCategoryGuid" required="required" /><br />
		<span><em>Paste guid of desired category here</em></span><br /><br /> <!--TODO: DropDownList-->
		<!--List for edit specifications-->
		<label for="selectedProductPrice">Price: </label><input type="number" id="selectedProductPrice" required="required" /><br /><br />
		<label for="selectedProductCategoriesChain">Categories chain: </label><i id="selectedProductCategoriesChain"></i><br /><br />
		<label for="selectedProductInStock">In stock: </label><input type="checkbox" id="selectedProductInStock" /><br /><br />

		<div id="productListImages"></div>

		<label for="selectedProductCustomVendorCode">Custom vendor code: </label><input type="text" id="selectedProductCustomVendorCode" /><br /><br /><br />

		<br />
		<button id="selectedProductAddOrSave">UNDEFINED_ACTION_1</button> <button id="selectedProductRemove">UNDEFINED_ACTION_2</button>
	</div>
</div>


<script src="~/js/EditableListOfImagesView.js"></script>
<script src="~/js/ProductsSearchableList.js"></script>
<script src="~/js/products.js"></script>

<script>
loadProductsPageAndFillList(@Model, false);
</script>
