body {
	padding: 0px;
	margin: 0px;
	font-family: Verdana, sans-serif;
	font-size: 14px;
}
div {
	padding: 0px;
	margin: 0px;
}
a:link, a:visited {
	color: black;
}
a:hover, a:active {
	color: #707070;
}

.header {
	height: 50px;

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}
	.header a {
		padding-left: 20px;
		margin-top: 15px;
		display: inline-block;
	}
	.header .signOutButton {
		font-size: 18px;
		float: right;
		margin-right: 10px;
		margin-top: 12px;
	}
.content {
	width: 100%;
}
.loginForm {
	width: 250px;
	padding: 5px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 200px auto;
}
	.loginForm label {
		width: 100px;
		display: inline-block;
	}
	.loginForm input {
		width: 140px;
		display: inline-block;
	}
	.loginForm span {
		width: 240px;
		height: 20px;
		display: inline-block;
		font-size: 12px;
		color: red;
	}
	.loginForm input[type=submit] {
		margin-left: 50px;
	}

h2 {
	padding-left: 30px;
}
div.centerForm {
	width: 450px;
	padding: 5px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin: 100px auto;
}
.centerForm label {
	width: 200px;
	display: inline-block;
}
.centerForm input, .centerForm textarea {
	width: 240px;
	display: inline-block;
}
.centerForm textarea {
	resize: vertical;
}
.centerForm span {
	width: 440px;
	height: 20px;
	display: inline-block;
	font-size: 12px;
	color: red;
}
.centerForm input[type=submit] {
	margin-left: 100px;
}
.centerForm img {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}